table {
    border: 10px solid black;
    width: 1000px;
    height: 1000px;
    border-collapse: collapse;
}

tr, td {
    border: 2px solid black;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.black {
    background-color: black;
}

